.container {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: #454545;
  border: 0.125rem solid #585858;
  border-radius: 0.25rem;
}

.input {
  flex-basis: 100%;
  color: #e4e4e4;
  background-color: transparent;
  border: none;
  outline: none;
}

.input:disabled {
  cursor: not-allowed;
}

.label {
  padding-left: 0.5rem;
  margin-left: auto;
  color: #9e9e9d;
}
